@using ToplearnDemo.ViewModels.Account
@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "فراموشی کلمه عبور";
}

<div class="container">
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">تاپ لرن</a></li>
            <li class="breadcrumb-item active" aria-current="page">فراموشی کلمه عبور</li>
        </ul>
    </nav>
</div>

<main class="client-page">
    <div class="container-content">
        @if (ViewBag.message != null)
        {
            <div class="alert alert-info">
                <p>@ViewBag.message</p>
            </div>
        }
        <header><h2>بازیابی رمز عبور</h2></header>

        <div class="form-layer">

            <form action="ForgotPassword" method="post">
                @Html.AntiForgeryToken()
                <div class="input-group">
                    <span class="input-group-addon" id="email-address"><i class="zmdi zmdi-email"></i></span>
                    <input asp-for="Email" class="form-control" placeholder="ایمیل" aria-describedby="email-address">
                </div>

                <div asp-validation-summary="All" class="text-danger"></div>
                <br />
                <button class="btn btn-success"> بازیابی </button>

            </form>
        </div>

    </div>
</main>

@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    @*<script src="/client-validation/jquery.min.js"></script>
        <script src="/client-validation/jquery.validate.min.js"></script>
        <script src="/client-validation/jquery.validate.unobtrusive.js"></script>*@
}