@using ToplearnDemo.ViewModels.Account
@model ResetPasswordViewModel
@{
    ViewData["Title"] = "بازیابی کلمه عبور";
}

<div class="container">
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">تاپ لرن</a></li>
            <li class="breadcrumb-item active" aria-current="page">بازیابی کلمه عبور</li>
        </ul>
    </nav>
</div>

@if (ViewBag.ActivationCodeIsValid == true)
{
    <main class="client-page">
        <div class="container-content">
            @if (ViewBag.ResetPasswordResult == true)
            {
                <div class="alert alert-success">
                    <p>بازنشانی کلمه عبور با موفقیت صورت گرفت.دوباره وارد حساب کاربری خود شوید.</p>
                </div>
            }
            else if (ViewBag.ResetPasswordResult == false)
            {

                <div class="alert alert-danger">
                    <p>متاسفانه خطایی رخ داد و بازنشانی کلمه عبور با شکست مواجه شد.</p>
                </div>
            }
            <header><h2>بازنشانی کلمه عبور</h2></header>

            <div class="form-layer">

                <form action="ResetPassword" method="post">
                    @Html.AntiForgeryToken()

                    <input type="hidden" asp-for="ActivationCode" />
                    <div class="input-group">
                        <span class="input-group-addon" id=""><i class="zmdi zmdi-lock"></i></span>
                        <input asp-for="Password" class="form-control" placeholder="کلمه عبور جدید" aria-describedby="password">
                    </div>

                    <div class="input-group">
                        <span class="input-group-addon" id=""><i class="zmdi zmdi-lock"></i></span>
                        <input asp-for="ConfirmPassword" class="form-control" placeholder="تکرار کلمه عبور جدید" aria-describedby="password">
                    </div>
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <br />
                    <button class="btn btn-success">بازنشانی</button>

                </form>
            </div>

        </div>
    </main>
}
else
{
    <div class="container alert alert-danger">
        <p>لینک بازنشانی رمز عبور معتبر نیست.</p>
    </div>
}


@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    @*<script src="/client-validation/jquery.min.js"></script>
        <script src="/client-validation/jquery.validate.min.js"></script>
        <script src="/client-validation/jquery.validate.unobtrusive.js"></script>*@
}