@using ToplearnDemo.Web.ViewModels.UserPanel
@model ChangePasswordViewModel
@{
    ViewData["Title"] = "تغییر رمز عبور";
}

<div class="container">
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">تاپ لرن</a></li>
            <li class="breadcrumb-item active" aria-current="page">تغییر رمز عبور</li>
        </ul>
    </nav>
</div>

<main>
    <div class="container">
        <div class="user-account">
            <div class="row">
                @await Component.InvokeAsync("UserPanelSideBar")
                <div class="col-md-9 col-sm-8 col-xs-12">
                    <section class="user-account-content">
                        <header><h1>تغییر رمز عبور</h1></header>
                        @if (ViewBag.ChangePasswordResult == true)
                        {
                            <div class="alert alert-success">
                                <p>ویرایش رمز عبور با موفقیت صورت گرفت.</p>
                            </div>
                        }
                        @if (ViewBag.ChangePasswordResult == false)
                        {
                            <div class="alert alert-danger">
                                <p>متاسفانه عملیات با شکست مواجه شد.</p>
                            </div>
                        }
                        <div class="inner form-layer">
                            <form asp-action="ChangePassword" method="post">
                                @Html.AntiForgeryToken()
                                <input type="hidden" asp-for="Username" />
                                <div class="row">
                                    <div class="col-md-7 col-sm-8 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon" id=""><i class="zmdi zmdi-lock"></i></span>
                                            <input asp-for="OldPassword" class="form-control" placeholder="رمز عبور فعلی" aria-describedby="password">
                                        </div>
                                        @*<span asp-validation-for="OldPassword"></span>*@
                                    </div>
                                    <div class="col-md-7 col-sm-8 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon" id=""><i class="zmdi zmdi-lock"></i></span>
                                            <input asp-for="Password" class="form-control" placeholder="رمز عبور جدید" aria-describedby="password">
                                        </div>
                                        
                                    </div>
                                    <div class="col-md-7 col-sm-8 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon" id=""><i class="zmdi zmdi-lock"></i></span>
                                            <input asp-for="ConfirmPassword" class="form-control" placeholder="تکرار رمز عبور جدید" aria-describedby="password">
                                        </div>
                                    </div>
                                    <div class="col-md-7 col-sm-8 col-xs-12 text-danger" asp-validation-summary="All"></div>
                                    <br />
                                    <div class="col-md-7 col-sm-8 col-xs-12">
                                        <button class="btn btn-success">ویرایش</button>
                                    </div>
                                </div>

                            
                                    </form>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</main>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}