@using ToplearnDemo.ViewModels.Account
@model SendResetPasswordEmailViewModel
<div style="direction:rtl;padding:20px">
    <p>کاربر عزیز جهت بازنشانی رمز عبور خود روی لینک زیر کلیک کنید.</p>
    <p>
        <a href="https://localhost:44395/Account/ResetPassword/@Model.ActivationCode">بازنشانی کلمه عبور</a>
    </p>
    <p>و یا در صورت نیاز آدرس زیر را در مرورگر خود کپی کنید.</p>
    <p>
        "https://localhost:44395/Account/ResetPassword/@Model.ActivationCode
    </p>
</div>